@model IEnumerable<MF.Models.PlaceDb>

@{
    ViewData["Title"] = "Місця";
}

<h1>Місця рибалки</h1>

<p>
    <a class="whitelink" asp-action="Create">Створити місце</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Coords)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Coords.id)
            </td>
            <td>
                    <a class="whitelink" asp-action="Edit" asp-route-id="@item.id">Edit</a> |
                    <a class="whitelink" asp-action="Details" asp-route-id="@item.id">Details</a> |
                    <a class="whitelink" asp-action="Delete" asp-route-id="@item.id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
