@model IEnumerable<MF.Models.Roles>

@{
    ViewData["Title"] = "Roles";
}

<h1>Roles</h1>

<p>
    <a class="whitelink" asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Role)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Role)
            </td>
            <td>
                    <a class="whitelink" asp-action="Edit" asp-route-id="@item.id">Edit</a> |
                    <a class="whitelink" asp-action="Details" asp-route-id="@item.id">Details</a> |
                    <a class="whitelink" asp-action="Delete" asp-route-id="@item.id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
